.colissimo-widget-container .relay-title {
  white-space: pre-line;
}

#widget_colissimo_contenu tr td,
#widget_colissimo_contenu tr th {
  border: none;
}


#widget_colissimo_contenu table {
  margin: 0;
  border: none;
}

.widget_colissimo_table_adresse,
.widget_colissimo_filtres td,
.widget_colissimo_liste td {
  border: none;
}

#widget_colissimo_contenu .widget_colissimo_close {
  display: none;
}

#widget_colissimo_contenu img {
  display: inline-block;
}

/* Search bar */
#widget_colissimo_table_adresse {
  width: auto;
}

#widget_colissimo_table_adresse td {
  background-color: #f7f7f7;
}

#widget_colissimo_table_adresse img.widget_colissimo_point_img {
  height: 18px;
}

#widget_colissimo_adresse {
  border: 1px solid #cdcdcd;
  border-radius: 8px 0 0 8px;
  margin-right: 0;
  box-shadow: none;
  background-color: white;
  box-sizing: content-box;
}

#widget_colissimo_contenu  .widget_colissimo_table_adresse {
  vertical-align: middle;
}

#widget_colissimo_table_adresse tbody tr.widget_colissimo_padding:nth-child(2) td.widget_colissimo_padding {
  vertical-align: middle;
}

#widget_colissimo_contenu  .widget_colissimo_mode_transport {
  cursor: pointer;
}

/* Map */
#widget_colissimo_contenu  .mapboxgl-ctrl-attrib-button {
  padding: 0;
  background-color: white !important;
}

/* Filters zone */
#widget_colissimo_contenu  .widget_colissimo_table_filtres td {
  text-align: center;
  vertical-align: middle;
  font-size: 13px;
}

#widget_colissimo_contenu  .widget_colissimo_padding {
  border: none;
}

/* Listing pickup */
#widget_colissimo_contenu  img.widget_colissimo_icone_coche {
  height: 14px;
  vertical-align: unset !important;
}

#widget_colissimo_contenu  img.widget_colissimo_icone_img {
  height: 16px;
}

#widget_colissimo_contenu  .widget_colissimo_selected .widget_colissimo_table td {
  background-color: #ebebeb !important;
}

#widget_colissimo_contenu .widget_colissimo_liste .widget_colissimo_text_bold {
  margin-bottom: 2px !important;
  margin-top: 10px !important;
}

#widget_colissimo_contenu .widget_colissimo_bouton_validation {
  box-sizing: content-box;
}
